<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!-- Nav menu CMS START-->
    <nav class="flex items-center justify-between flex-wrap bg-indigo-800 p-6">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
          <span class="font-semibold text-xl tracking-tight">G69</span>
        </div>
        <div class="block lg:hidden">
          <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
        </div>
    </nav>
    <!-- Nav menu CMS END -->

    <!-- Form START -->
    <div class="flex justify-center items-center py-8">
        <form action="" method="" class="max-w-lg border border-gray-200 shadow-xs mx-auto rounded-lg p-10 bg-white text-center space-y-6 flex-grow">
            <div class="flex flex-col">
                <label for="event" class="self-start mb-2 font-medium text-gray-800">
                    Event
                </label>

                <input type="text" id="event" placeholder="" class="outline-none px-2 py-2 border shadow-sm placeholder-gray-500 opacity-50 rounded">
            </div>

            <div class="flex flex-col">
                <label for="game" class="self-start mb-2 font-medium text-gray-800">
                    Event
                </label>

                <select name="game" class="border border-gray-400 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none">
                    <option>Games</option>
                    <option value="#">CSGO</option>
                    <option value="#">Rocket League</option>
                    <option value="#">League of Legends</option>
                    <option value="#">Valorant</option>
                    <option value="#">Overwatch</option>
                    <option value="#">Dota 2</option>
                    <option value="#">R6</option>
                </select>
            </div>

            <div class="flex items-center text-gray-800">
                <span class="block border border-gray-400 w-2/4 mr-2"></span>
                    Showdown
                <span class="block border border-gray-400 w-2/4 ml-2"></span>
            </div>
            <div class="flex justify-around text-center divide-x divide-gray-300 p-8">

                <select name="compA" class="w-40 border border-gray-400 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none">
                    <option>Team</option>
                    <option value="#"></option>
                </select>

                <h1 class="text-red-500 font-bold border-none">Vs</h1>

                <select name="compB" class="w-40 border border-gray-400 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none">
                    <option>Team</option>
                    <option value="#"></option>
                </select>
            </div>

            <div class="flex items-center text-gray-800">
                <span class="block border border-gray-400 w-1/2 mr-2"></span>
                    Datum Tijd
                <span class="block border border-gray-400 w-1/2 ml-2"></span>
            </div>

            <div class="flex justify-around text-center divide-x divide-gray-300">

                <input type="date" id="date" placeholder="" class="border-solid bg-transparent text-xl appearance-none outline-none">

                <div class="mt-2 p-1 w-40 bg-white rounded-lg shadow-xl">
                    <div class="flex">
                        <input type="time" name="" placeholder="13:00" step="900" class="bg-transparent text-xl appearance-none outline-none">
                    </div>
                </div>
            </div>
            

            <div class="flex items-center text-gray-800 p-8">
                <span class="w-1/2"></span>
                <a href="#">
                    <button class="bg-yellow-400 hover:bg-yellow-600 text-white font-bold py-1 px-10 rounded float-right">
                        Wedstrijd aanpassen
                    </button>
                </a>
                <span class="w-1/2"></span>
            </div>
            
        </form>
    </div>

</body>
</html>